@charset "utf-8";

@import "../mixins/box";

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.pull-none{
    float: none!important;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.t-1{
    top: -1px;
}
.t-45{
    top: -45px;
}
.t0{
    top: 0;
}
.t28{
    top: 28px;
}
.r-1{
    right: -1px;
}
.r0{
    right: 0;
}
.r8{
    right: 8px;
}
.b-1{
    bottom: -1px;
}
.b0{
    bottom: 0;
}
.l0{
    left: 0;
}
.l20{
    left: 20px;
}
.none{
    display: none;
}

.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.overflow-hidden{
    overflow: hidden;
}
.transparent{
    opacity: 0;
}

.mt1{
    @include mt(1px);
}
.mt2{
    @include mt(2px);
}
.mt4{
    @include mt(4px);
}
.mt5{
    @include mt(5px);
}
.mt6{
    @include mt(6px);
}
.mt10{
    @include mt(10px!important);
}
.mt12{
    @include mt(12px);
}
.mt14{
    @include mt(14px);
}
.mt20{
    @include mt(20px);
}
.mt22{
    @include mt(22px);
}
.mt38{
    @include mt(38px);
}
.mt45{
    @include mt(45px);
}
.mr3{
    @include mr(3px);
}
.mr5{
    @include mr(5px);
}
.mr8{
    @include mr(8px);
}
.mr10{
    @include mr(10px);
}
.mr15{
    @include mr(15px);
}
.mr20{
    @include mr(20px);
}
.mr31{
    @include mr(31px);
}
.mr-20{
    @include mr(-20px);
}
.mr-15{
    @include mr(-15px);
}
.mr-10{
    @include mr(-10px);
}
.mr-7{
    @include mr(-7px);
}
.mr-5{
    @include mr(-5px);
}
.mb5{
    @include mb(5px);
}
.mb10{
    @include mb(10px);
}
.mb15{
    @include mb(15px);
}
.mb20{
    @include mb(20px);
}
.mb65{
    @include mb(65px);
}
.ml5{
    @include ml(5px);
}
.ml8{
    @include ml(8px);
}
.ml10{
    @include ml(10px);
}
.ml20{
    @include ml(20px);
}
.ml-20{
    @include ml(-20px);
}
.ml-15{
    @include ml(-15px);
}
.ml-10{
    @include ml(-10px);
}
.ml-7{
    @include ml(-7px);
}
.ml-5{
    @include ml(-5px);
}
.ml-1{
    @include ml(-1px);
}

.pt0{
    @include pt(0px!important);
}
.pt5{
    @include pt(5px);
}
.pt6{
    @include pt(6px);
}
.pt8{
    @include pt(8px);
}
.pt9{
    @include pt(9px);
}
.pt10{
    @include pt(10px);
}
.pt11{
    @include pt(11px);
}
.pt12{
    @include pt(12px);
}
.pt15{
    @include pt(15px);
}
.pt16{
    @include pt(16px);
}
.pt18{
    @include pt(18px);
}
.pt20{
    @include pt(20px);
}
.pt23{
    @include pt(23px);
}
.pt25{
    @include pt(25px);
}
.pt28{
    @include pt(28px);
}
.pt30{
    @include pt(30px);
}
.pt100{
    @include pt(100px);
}

.pr0{
    @include pr(0px!important);
}
.pr5{
    @include pr(5px);
}
.pr7{
    @include pr(7px);
}
.pr10{
    @include pr(10px);
}
.pr15{
    @include pr(15px);
}
.pr20{
    @include pr(20px);
}
.pr24{
    @include pr(24px);
}
.pr25{
    @include pr(25px);
}
.pr28{
    @include pr(28px);
}
.pr30{
    @include pr(30px);
}
.pr45{
    @include pr(45px);
}
.pr50{
    @include pr(50px);
}
.pb4{
    @include pb(4px!important);
}
.pb5{
    @include pb(5px);
}
.pb6{
    @include pb(6px);
}
.pb10{
    @include pb(10px);
}
.pb12{
    @include pb(12px);
}
.pb14{
    @include pb(14px);
}
.pb15{
    @include pb(15px);
}
.pb16{
    @include pb(16px);
}
.pb20{
    @include pb(20px);
}
.pb30{
    @include pb(30px);
}
.pb50{
    @include pb(50px);
}
.pl5{
    @include pl(5px);
}
.pl7{
    @include pl(7px);
}
.pl8{
    @include pl(8px);
}
.pl10{
    @include pl(10px);
}
.pl15{
    @include pl(15px);
}
.pl18{
    @include pl(18px);
}
.pl20{
    @include pl(20px);
}
.pl24{
    @include pl(24px);
}
.pl30{
    @include pl(30px);
}
.pl50{
    @include pl(50px);
}

.w20{
    width: 20px;
}
.w30{
    width: 30px;
}
.w50{
    width: 50px;
}
.w78{
    width: 78px;
}
.w80{
    width: 80px;
}
.w88{
    width: 88px;
}
.w110{
    width: 110px;
}
.w130{
    width: 130px;
}
.w150{
    width: 150px;
}
.w240{
    width: 240px;
}
.w250{
    width: 250px;
}
.w280{
    width: 280px;
}
.w300{
    width: 300px;
}
.w320{
    width: 320px;
}
.w350{
    width: 350px;
}
.w380{
    width: 380px;
}
.w396{
    width: 396px;
}
.w400{
    width: 400px;
}
.w460{
    width: 460px;
}
.w750{
    width: 750px;
}

.h24{
    height: 24px;
}
.h30{
    height: 30px;
}
.h40{
    height: 40px;
}
.h66{
    height: 66px!important;
}
.h115{
    height: 115px;
}
.h160{
    height: 160px;
}
.h195{
    height: 195px;
}
.h210{
    height: 210px;
}
.h220{
    height: 220px;
}
.h250{
    height: 250px;
}
.h270{
    height: 270px;
}
.h290{
    height: 290px;
}
.h320{
    height: 320px;
}


.border-base{
    border: 1px solid $border-color-default;
}
.border-top-base{
    border-top: 1px solid $border-color-default;
}
.border-right-base{
    border-right: 1px solid $border-color-default;
}
.border-bottom-base{
    border-bottom: 1px solid $border-color-default;
}
.border-left-base{
    border-left: 1px solid $border-color-default;
}

.border-primary{
    border: 1px solid $primary-color;
}

.bg-white{
    background: #fff;
}

.bg-primary{
    background-color: $primary-color;
}


.border-radius-base{
    border-radius: $border-radius/2;
}
.border-radius-top-left{
    border-top-left-radius: $border-radius/2;
}
.border-radius-top-right{
    border-top-right-radius: $border-radius/2;
}
.border-radius-bottom-left{
    border-bottom-left-radius: $border-radius/2;
}
.border-radius-bottom-right{
    border-bottom-right-radius: $border-radius/2;
}


