@charset "utf-8";

@mixin input($height:$form-input-height, $border-radius:$form-border-radius, $border-color:$form-border-color){

    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: $height;
    padding: 0 5px;
    &:focus{
        outline: 0;
    }
}