@charset "utf-8";


@mixin col(){
    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            width: percentage($i/$grid-columns);
            display: block;
            float: left;
            min-height: 1px;
        }
    }
}