@charset "utf-8";


.header-logo{
    width: 30px;
    height: 30px;
    img{
        @extend .header-logo;
    }
}

.header-nav{
    width: 360px;
    height: 70px;
    margin-left: 80px;
    .ant-menu-horizontal{
        border-bottom: 0;
        background: none;
        color: #fff;
        li{
            line-height: 70px;
            height: 70px;

        }

    }
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    background: #3092D9 !important;
    border-bottom: 3px solid #faaf76 !important;
    color: #e9e9e9 !important;
}

.header-right{
    width: 180px;
    height: 70px;
    .header-userImg{
        width: 30px;
        height: 30px;
        span{
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
            font-size: 30px;
            color: #666;
            border-radius: 50%;
        }
    }
    a:hover {
        color: #fff;
    }
}



