@charset "utf-8";

.#{$css-prefix}datepicker-wrap{
    @extend .clearfix;
    @extend .relative;
    .#{$css-prefix}date-picker-input-wrap{
        position: relative;
        display: block;
        .#{$css-prefix}date-picker-input{
            @extend .#{$css-prefix}input;
            padding: 0 $datepicker-icon-width+10 0 10px;
            background-color: #fff;
            width: 100%;
        }
        .icon-calendar{
            cursor: pointer;
            position: absolute;
            right: 1px;
            top: 1px;
            bottom: 1px;
            width: $datepicker-icon-width;
            text-align: center;
            line-height: $form-input-height - 2;
            background-color: $datepicker-icon-bg-color;
            border-left: 1px solid $form-border-color;
            border-top-right-radius: $form-border-radius - 1;
            border-bottom-right-radius: $form-border-radius - 1;
            color: $datepicker-icon-color;
        }
        .icon-cross-circle-o{
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 30px;
            width: 30px;
            text-align: center;
            line-height: 28px;
            color: #666;
            display: none;
        }
        &:hover{
            .icon-cross-circle-o{
                display: block;
            }
        }
    }
    .#{$css-prefix}weekdays-list,
    .#{$css-prefix}date-list{
        @extend .clearfix;
        width: $datepicker-date-item-list-width;
        padding: $datepicker-date-item-list-padding;
        //border-top: 1px solid #eee;
        .#{$css-prefix}date-item{
            list-style: none;
            float: left;
            width: $datepicker-date-item-width;
            height: $datepicker-date-item-height;
            line-height: $datepicker-date-item-height;
            padding: 0 $datepicker-date-item-padding;
            margin: $datepicker-date-item-padding 0;
            text-align: center;
            cursor: pointer;
            font-size: 12px;
            &.#{$css-prefix}weekdays{
                color: #666;
                background-color: #ecf4ff;
                cursor: default;
                height: 28px;
                line-height: 28px;
                margin: 0;
            }
            &.#{$css-prefix}other-month-day{
                color: #999;
            }
            &.#{$css-prefix}current-day{
                span{
                    float: left;
                    width: 100%;
                    background-color: $datepicker-current-bg-color;
                    color: $datepicker-current-color;
                    border-radius: 100%;
                }
            }
            &.#{$css-prefix}disable-day{
                color: #cecece;
                cursor: not-allowed;
                text-decoration: line-through;
            }
        }
    }

    .#{$css-prefix}date-wrap{
        .#{$css-prefix}datepicker-error{
            @extend .absolute;
            @extend .text-left;
            display: none;
            top: 45px;
            background-color: #ffdad5;
            border: 1px solid #ff4930;
            border-radius: $border-radius / 2;
            z-index: 100;
            height: 28px;
            line-height: 26px;
            padding: 0 14px;
            min-width: 140px;

        }
    }

    .#{$css-prefix}datepicker-range-wrap{
        @extend .clearfix;
        width: $datepicker-date-item-list-width * 2 + 5;
        height: 350px;
        overflow: hidden;
        border: 1px solid #c9c9c9;
        border-radius: $border-radius / 2;
        transition: all .5s;
        display: none;
        position: absolute;
        top: 30px;
        z-index: 1000;
        background-color: #fff;
        .#{$css-prefix}start-date-wrap,
        .#{$css-prefix}end-date-wrap{
            float: left;
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;
            .#{$css-prefix}datepicker-date{
                @extend .text-center;
                @extend .relative;
                padding: 10px;
                input{
                    height: 26px;
                    border: 1px solid #c9c9c9;
                    border-radius: $border-radius/2;
                    padding: 5px;
                    width: 140px;
                    @extend .text-center;
                    color: #666;
                    font-weight: 100;
                }
            }
        }

        .#{$css-prefix}start-date-wrap{
            .#{$css-prefix}datepicker-error{
                left: 33px;
            }
        }

        .#{$css-prefix}end-date-wrap{
            .#{$css-prefix}datepicker-error{
                right: 33px;
            }
        }

        .#{$css-prefix}datepicker-month-wrap{
            @extend .clearfix;
            @extend .text-center;
            @extend .relative;
            height: 30px;
            font-size: 12px;
            line-height: 24px;
            border-top: 1px solid #eee;
            padding-top: 5px;
            //padding: $datepicker-date-item-list-padding;
            .#{$css-prefix}datepicker-month{
                padding-right: 8px;
            }
            .#{$css-prefix}datepicker-disable-month,
            .#{$css-prefix}datepicker-prev-month,
            .#{$css-prefix}datepicker-next-month{
                @extend .absolute;
                top: 50%;
                margin-top: -10px;
                font-size: 12px;
                cursor: pointer;
            }
            .#{$css-prefix}datepicker-disable-month{
                color: #cecece;
                cursor: not-allowed;
            }
            .#{$css-prefix}datepicker-disable-prev-month,
            .#{$css-prefix}datepicker-prev-month{
                @extend .icon-left;
                left: $datepicker-date-item-list-padding;
            }
            .#{$css-prefix}datepicker-disable-next-month,
            .#{$css-prefix}datepicker-next-month{
                @extend .icon-right;
                right: $datepicker-date-item-list-padding;
            }
        }
        .#{$css-prefix}datepicker-button-wrap{
            text-align: center;
            padding: 10px;
            .#{$css-prefix}datepicker-apply{
                @extend  .#{$css-prefix}button-primary;
                margin-right: 10px;
            }
            .#{$css-prefix}datepicker-cancel{
                @extend .#{$css-prefix}button-primary-hollow;
            }
        }
    }

    .#{$css-prefix}datepicker-show{
    }
}
